[submodule ".vim"]
	path = .vim
	url = git@github.com:erochest/vimfiles.git
[submodule ".git_template"]
	path = .git_template
	url = git@github.com:erochest/git_template.git
[submodule ".bash_it"]
	path = .bash_it
	url = git@github.com:erochest/bash-it.git
